.adds {
    padding: 89px 0 104px 0;

    picture {
        margin-bottom: 93px;
    }

    &__section {
        position: relative;
        width: 100%;
    }
}

.fa.fa-map-marker {
    font-size: 20px;
    color: $white;
    margin-right: 29px;
}

.adds-text1 {
    padding: 0;

    @include media-breakpoint-up(lg) {
        padding: 83px 0 0 124px;
    }

    &__title {
        line-height: 1;
        font-size: 25px;
        margin-bottom: 43px;
        color: $te_papa_green;
        font-weight: bold;
    }

    &__subtitle {
        font-size: 13px;
        color: $te_papa_green;
        max-width: 420px;
        margin-bottom: 44px;
    }
}

.adds-text2 {
    text-align: right;
    padding: 0;

    @include media-breakpoint-up(lg) {
        padding: 83px 124px 0 0;
    }

    &__title {
        line-height: 1;
        font-size: 25px;
        margin-bottom: 43px;
        color: $te_papa_green;
        font-weight: bold;
    }

    &__subtitle {
        font-size: 13px;
        color: $te_papa_green;
        max-width: 498px;
        margin-bottom: 44px;
    }
}

.adds-text3 {
    padding: 0;

    @include media-breakpoint-up(lg) {
        padding: 83px 0 0 124px;
    }

    &__title {
        line-height: 1;
        font-size: 25px;
        margin-bottom: 43px;
        color: $te_papa_green;
        font-weight: bold;
    }

    &__subtitle {
        font-size: 13px;
        color: $te_papa_green;
        max-width: 420px;
        margin-bottom: 44px;
    }
}