.agents {
    padding-top: 70px;

    width: 100%;
    @include media-breakpoint-up(lg) {
          padding: 70px 0 96px 0;
    }
    background-color: $desert_storm;

    &__title {
        font-size: 40px;
        margin-bottom: 48px;
        color: $te_papa_green;
        font-weight: bold;
        line-height: 1;
    }

    &__subtitle {
        font-size: 13px;
        margin-bottom: 68px;
        color: $te_papa_green;
        max-width: 385px;
    }
}

.card {
    background-color: $white;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    width: 100%;
    @include media-breakpoint-up(lg) {
        width: 346px;
    }


    &__type {
        font-family: $Montserrat-Semibold;
        color: $te_papa_green;
        font-size: 15px;
        line-height: 1;
        padding: 0 0 20px 21px;
    }

    &__name {
        font-family: $Montserrat-Semibold;
        color: $supernova;
        font-size: 15px;
        padding: 0 0 20px 21px;
    }

    .card-img-top {
        margin-bottom: 34px;
        height: 379px;
    }
}

.icon-facebook {
    color: $te_papa_green;
    margin-left: 44px;
}

.icon-twitter {
    color: $te_papa_green;
    margin-left: 30px;
}

.icon-dribbble {
    color: $te_papa_green;
    margin-left: 35px;
}