.appartments {
    padding: 65px 0 85px 0;

    &__title {
        font-size: 40px;
        margin-bottom: 48px;
        color: $te_papa_green;
        font-weight: bold;
        line-height: 1;
        max-width: 470px;
    }
}

.card-A {
    background-color: $white;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 36px;

    &__address {
        color: $te_papa_green;
        font-weight: bold;
        font-size: 15px;
        padding: 0 0 25px 21px;
    }

    &__price {
        color: $supernova;
        font-weight: bold;
        font-size: 18px;
        padding: 0 0 30px 21px;
    }

    .card-img-top {
        margin-bottom: 24px;
    }
}

.card {
    background-color: $white;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 62px;

    //mobile   margin-bottom: 50px;
    &__address {
        color: $te_papa_green;
        font-weight: bold;
        font-size: 15px;
        padding: 0 0 25px 21px;
    }

    &__price {
        color: $supernova;
        font-weight: bold;
        font-size: 18px;
        padding: 0 0 30px 21px;
    }

    .card-img-top {
        margin-bottom: 24px;
    }
}

.fa.fa-shower {
    color: $bali_hai;
    font-size: 13px;
    margin-left: 121px;
    margin-right: 23px;
}

.fa.fa-bed {
    font-size: 13px;
    color: $bali_hai;
}

.form-control {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.20);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.20);
    font-size: 15px;
    color: $bali_hai;
    width: 100%;
    border-radius: 10px;
    padding: 28px 0 28px 29px;

    @include media-breakpoint-up(lg) {
        width: 372px;
        height: 71px;
    }
}

.num{
    color: $bali_hai;
    margin-right: 20px;
}