.banner {
    overflow: hidden;
    position: relative;
    margin-top: 140px;
    @include media-breakpoint-up(lg) {
        margin-top: 130px;
        padding-top: 153px;
    }

    picture {
        position: absolute;
        top: 0;
        right: 0;
        // width: 100%;
        height: 100%;
    }

    .banner-text {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        &__title {
            font-family: $Montserrat-Semibold;
            line-height: 1;
            font-size: 60px;
            color: $te_papa_green;
            margin-bottom: 60px;
        }

        .form-control {
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.20);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.20);
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.20);
            font-size: 15px;
            color: $bali_hai;
            width: 372px;
            height: 71px;
            border-radius: 10px;
            padding: 28px 0 28px 29px;
        }

        &__form-item {
            margin-bottom: 107px;
        }

        &__scroll {
            font-size: 12px;
            font-weight: $Montserrat-Medium;
            color: $bali_hai;
        }
    }
}