.banner {
    overflow: hidden;
    position: relative;

    @include media-breakpoint-up(lg) {
        margin-top: 130px;
        padding: 167px 0 223px 0;
    }

    picture {
        position: absolute;
        top: 0;
        right: 0;
        // width: 100%;
        height: 100%;
    }

    .banner-text {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        &__title {
            line-height: 1;
            font-size: 62px;
            color: $te_papa_green;
            font-weight: bold;
            margin-bottom: 61px;
            // @include media-breakpoint-up(lg) {
            //     font-size: 72px;
            //     margin-bottom: 35px;
            // }
        }

        &__form-control {
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.20);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.20);
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.20);
            font-size: 15px;
            color: $bali_hai;
            width: 372px;
            height: 71px;
            border-radius: 10px;
            padding: 28px 0 28px 29px;
            // margin-bottom: 16px;
            //  border: 1px solid black;
        }
    }
}