.how-it-works {
    padding-top: 66px;

    &__title {
        font-family: $Montserrat-Semibold;
        font-size: 30px;
        margin-bottom: 30px;
        color: $te_papa_green;
        line-height: 1;

        @include media-breakpoint-up(lg) {
            font-size: 40px;
            margin-bottom: 48px;
        }
    }

    &__item {
        width: 380px;
        :hover {
            background-color: $supernova;
            color: $white;
            cursor: pointer;
        }
    }

    &__subtitle {
        font-size: 13px;
        margin-bottom: 58px;
        color: $te_papa_green;
        max-width: 390px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 68px;
        }
    }
}

.how-it-works-card {
    background-color: $white;
    margin-bottom: 50px;
    width: 346px;
    height: 100;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    padding: 145px 0 54px 0;
    position: relative;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
        margin: 0;
    }

    &__subtitle {
        color: $te_papa_green;
        font-size: 13px;
        max-width: 230px;
        text-align: left;
        margin-left: 70px;
        margin-right: 70px;
        margin-bottom: 31px;
    }

    &__find-location {
        font-family: $Montserrat-Semibold;
        color: $te_papa_green;
        font-size: 13px;
        text-decoration: underline;
        margin-left: 70px;
    }

    &__find-appartment {
        font-family: $Montserrat-Semibold;
        color: $te_papa_green;
        font-size: 13px;
        text-decoration: underline;
        margin-left: 70px;

    }

    &__make-contact {
        font-family: $Montserrat-Semibold;
        color: $te_papa_green;
        font-size: 13px;
        text-decoration: underline;
        margin-left: 70px;

    }

    &__big-number {
        font-size: 160px;
        font-family: $Montserrat-Semibold;
        position: absolute;
        top: -100px;
        left: -37px;
    }
}

.how-it-works-card-title {
    display: flex;

    &__number {
        font-family: $Montserrat-Semibold;
        color: $te_papa_green;
        font-size: 18px;
        margin-right: 10px;
        margin-left: 44px;

    }

    &__text {
        font-family: $Montserrat-Semibold;
        color: $te_papa_green;
        font-size: 18px;
        margin-bottom: 41px;
    }
}