.services {
    padding-top: 50px;
    @include media-breakpoint-up(lg) {
        padding-top: 100px;
    }

    picture {
        margin-bottom: 70px;

        @include media-breakpoint-up(lg) {
            margin: 0;
        }
    }

    &__title {
        font-family: $Montserrat-Semibold;
        font-size: 40px;
        margin-bottom: 38px;
        color: $te_papa_green;
        line-height: 1;
    }

    &__subtitle {
        font-size: 13px;
        margin-bottom: 68px;
        max-width: 394px;
        color: $te_papa_green;
    }

    &__types {
        margin: 0;

        @include media-breakpoint-up(lg) {
            margin-left: 115px;
        }
    }
}

.selling {
    &__title {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 44px;
        line-height: 1;
        color: $te_papa_green;
    }

    &__subtitle {
        font-size: 13px;
        margin-bottom: 71px;
        max-width: 420px;
        color: $te_papa_green;
    }
}

.renting {
    &__title {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 44px;
        line-height: 1;
        color: $te_papa_green;
    }

    &__subtitle {
        font-size: 13px;
        margin-bottom: 71px;
        max-width: 420px;
        color: $te_papa_green;
    }
}

.building {
    &__title {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 44px;
        line-height: 1;
        color: $te_papa_green;
    }

    &__subtitle {
        font-size: 13px;
        margin: 0;
        max-width: 420px;
        color: $te_papa_green;

        @include media-breakpoint-up(lg) {
            margin-bottom: 71px;
        }
    }
}

.split-left{
    width: 50%;
}