.btn {
    font-size: 15px;
    color: $te_papa_green;
    border-radius: 8px;

    &:hover,
    &:focus {
        color: $white;
    }
}

.btn-appartments {
    background-color: $white;
    padding: 29px 39px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);

    &:hover,
    &:focus {
        color: $supernova;
    }
}

.btn-search {
    font-family: $Montserrat-Medium;
    background-color: $supernova;
    padding: 25px 25px;
    border-radius: 0px 10px 10px 0;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}

.btn-search-appartments {
    font-family: $Montserrat-Medium;
    background-color: $supernova;
    padding: 25px 25px;
    border-radius: 0px 10px 10px 0;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 35px;

    @include media-breakpoint-up(lg) {
        margin: 0;
    }
}

.btn-show {

    &:hover,
    &:focus {
        color: $supernova;
        cursor: pointer;
    }

    font-family: $Montserrat-Semibold;
    font-size: 18px;
    color: $white;
    border-radius: 0;
    background-color: $te_papa_green;
    padding: 34px 57px;
    margin: 0;

    @include media-breakpoint-up(lg) {
        margin-left: 100px;
    }
}

.btn-melbourne {
    font-family: $Montserrat-Semibold;

    font-size: 18px;
  
    border-radius: 0;
    background-color: $supernova;
   padding: 20px 15px;
    position: absolute;
    top: 87%;
    left: 20%;
    @include media-breakpoint-up(lg) {
        padding: 25px 30px;
    }

    
}

.btn-melbourne2 {
    font-family: $Montserrat-Semibold;

    font-size: 18px;
  
    border-radius: 0;
    background-color: $supernova;
    padding: 25px 30px;
    position: absolute;
    bottom: -20px;
    right: 0;
}