.btn.btn-appartments {
    font-size: 15px;
    background-color: $white;
    color: $te_papa_green;

    border-radius: 10px;
    width: 260px;
    height: 75px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.10);
}