.footers {
    background: $te_papa_green;
    padding: 72px 0 60px 0;

    &__explore {
        font-family: $Montserrat-Semibold;
        max-width: 356px;
        line-height: 1;
        font-size: 40px;
        margin-bottom: 59px;
        color: $white;
    }

    .form-control-footer {
        font-size: 15px;
        color: $bali_hai;
        width: 100%;
        padding: 28px 0 28px 20px;
        @include media-breakpoint-up(lg) {
            width: 476px;
        }
    }

    &__logo {
        font-family: $Montserrat-Semibold;
        color: $white;
        font-size: 25px;
        margin-bottom: 55px;
        padding-top: 63px;
    }

    &__info {
        color: $white;
        font-size: 14px;
        max-width: 140px;
    }

    &__title {
        color: $bali_hai;
        font-size: 13px;
        text-transform: uppercase;
        margin-left: 0;
        padding-top: 70px;
        margin-bottom: 30px; 
    }

    .form-item{
        position: relative;
        margin: 0;
        @include media-breakpoint-up(lg) {
            margin-left: 65px;
        }
        
    }

    .icon-arrow-right2 {
        position: absolute;
        top: 0;
        right: 0;
        color: $red;
        font-size: 35px;
    }
    
}


.footers {
    li {
        margin-bottom: 18px;

        a {
            color: $white;
            font-size: 13px;
            text-decoration: none;
        }
    }
}