.footers {
    background: $te_papa_green;
    padding: 72px 0 60px 0;

    &__explore {
        font-family: $Montserrat-Semibold;
        max-width: 356px;
        line-height: 1;
        font-size: 40px;
        margin-bottom: 59px;
        color: $white;
    }

    .form-control-footer {
        font-size: 15px;
        color: $bali_hai;
        width: 100%;
        padding: 28px 0 28px 20px;
        @include media-breakpoint-up(lg) {
            width: 476px;
        }
    }

    &__logo {
        font-family: $Montserrat-Semibold;
        color: $white;
        font-size: 25px;
        margin-bottom: 55px;
        padding-top: 63px;
    }

    &__info {
        color: $white;
        font-size: 14px;
    }

    &__title-luxstate {
        color: $bali_hai;
        font-size: 13px;
        text-transform: uppercase;
        margin-left: 0;
        padding-top: 70px;
        margin-bottom: 30px;
        @include media-breakpoint-up(lg) {
            margin-left: 45px;
        }
    }

    &__title-company {
        color: $bali_hai;
        font-size: 13px;
        margin-bottom: 30px;
        text-transform: uppercase;
        margin-left: 0;
        padding-top: 70px;
        @include media-breakpoint-up(lg) {
            margin-left: 20px;
        }
    }

    &__title-product {
        color: $bali_hai;
        font-size: 13px;
        margin-bottom: 30px;
        text-transform: uppercase;
        padding-top: 70px;
    }

    &__title-services {
        color: $bali_hai;
        font-size: 13px;
        margin-bottom: 30px;
        text-transform: uppercase;
        padding-top: 70px;
    }

    &__list1 {
        padding-left: 0;
        @include media-breakpoint-up(lg) {
            padding-left: 50px;
        }
    }

    &__list2 {
        padding-left: 0;
        @include media-breakpoint-up(lg) {
            padding-left: 20px;
        }
    }

}


.footers {
    li {
        margin-bottom: 18px;

        a {
            color: $white;
            font-size: 13px;
            text-decoration: none;
        }
    }
}